<p id="notice"><%= notice %></p>

<p>
  <strong>Doble amarilla:</strong>
  <%= @valor_puntaje.doble_amarilla %>
</p>

<p>
  <strong>Roja directa:</strong>
  <%= @valor_puntaje.roja_directa %>
</p>

<p>
  <strong>Amarilla:</strong>
  <%= @valor_puntaje.amarilla %>
</p>

<p>
  <strong>Figura:</strong>
  <%= @valor_puntaje.figura %>
</p>

<p>
  <strong>Penal errado:</strong>
  <%= @valor_puntaje.penal_errado %>
</p>

<p>
  <strong>Gol penal:</strong>
  <%= @valor_puntaje.gol_penal %>
</p>

<p>
  <strong>Gol:</strong>
  <%= @valor_puntaje.gol %>
</p>

<p>
  <strong>Penal atajado:</strong>
  <%= @valor_puntaje.penal_atajado %>
</p>

<p>
  <strong>Valla invicta:</strong>
  <%= @valor_puntaje.valla_invicta %>
</p>

<p>
  <strong>Chenemigo:</strong>
  <%= @valor_puntaje.chenemigo %>
</p>

<%= link_to 'Edit', edit_valor_puntaje_path(@valor_puntaje) %> |
<%= link_to 'Back', valor_puntajes_path %>
