<h1>Listing fechas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fechas.each do |fecha| %>
      <tr>
        <td><%= fecha.numero %></td>
        <td><%= link_to 'Show', fecha %></td>
        <td><%= link_to 'Edit', edit_fecha_path(fecha) %></td>
        <td><%= link_to 'Destroy', fecha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fecha', new_fecha_path %>
