<%= form_for(@jugador, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @jugador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jugador.errors.count, "error") %> prohibited this jugador from being saved:</h2>

      <ul>
      <% @jugador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
    <%= f.label :apellido, :class => "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :apellido, :class => "form-control" %>
    </div>
    <%= f.label :apodo, :class => "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :apodo, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :club_id, :class => "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :club_id, :class => "form-control" %>
    </div>
    <%= f.label "Posición", :class => "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :posicion_id, :class => "form-control" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento %><br>
    <%= f.date_select :fecha_nacimiento %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.text_field :imagen %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to jugadors_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>



