<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to " Gran DT", root_path, :class => " center navbar-brand fa fa-futbol-o fa-2x" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? then %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi Equipo<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Jugadores", jugadors_path,  :tabindex => "-1" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Participantes", participantes_path,  :tabindex => "-1" %></li>
              <li><%= link_to "Equipos", equipos_path,  :tabindex => "-1" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido: <%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Salir', destroy_user_session_path, :tabindex => "-1" %></li>
            </ul>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>